/* TypewriterAnimation.css */

@keyframes typing {
    from {
      width: 0;
    }
  }
  
  .container .text {
      color: #6e68dd;
      font-size: 30px;
      border-right: 2px solid #6e68dd; /* This will create a cursor effect */
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1s steps(40, end), blink-caret 0.5s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #6e68dd;
    }
  }
  