@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add this class to animate the home_section */
.contact_section {
  animation: slideIn 0.8s ease forwards;
}

.container{
  margin: 30px auto;
  background-color: #fff;
  position: relative;
  width: 45vw;
  height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form{
  position: absolute;
  right: 0;
}