@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add this class to animate the home_section */
.contact_section {
  animation: slideIn 0.8s ease forwards;
}

.container{
  margin: 40px auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form{
  z-index: 0;
}

.info{
  position: relative;
  left: 25px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .container{
    height: max-content;
    margin-block: 100px;
    background-color: transparent;
  }
  
  .form{
    position: static;
  }
  .info{
    display: none;
  }
}