*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    color: #161616;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul{
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(146, 145, 145);
    border-radius: 10px;
  }


.container{
    min-width: 100vw;
    /* min-height: 100vh; */
    margin: 0 auto;
}

@media screen and (max-width:600px) {
}
