*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #E4A5FF;
    color: #161616;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}