@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home_section {
  animation: slideIn 0.8s ease forwards;
}
 

/* CSS for home page */

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 70px;
}

.ruler{
  margin: 50px;
  width: 10%;
  height: 0;
  color: transparent;
  border-top: 10px;
  border-style: dotted;
  border-color: #a7a5a5;
  margin: 0 auto;
}