.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
}

.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.heading p{
    color: #1f199e;
    font-size: 20px;
}

.heading h1{
    color: #4744FF;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 5px 2px 5px rgba(71, 70, 90, 0.65);}

.heading h3{
    color: #6e68dd;
    font-size: 30px;
    /* font-weight: bolder; */
}

.container .image{
    border: 3px solid #1f199e;
    border-radius: 50%;
}

.ruler{
    margin: 50px;
    width: 10%;
    height: 0;
    color: transparent;
    border-top: 10px;
    border-style: dotted;
    border-color: #a7a5a5;
    margin: 0 auto;
}