.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.heading p{
    color: blue;
    font-size: 20px;
}

.heading h1{
    color: aqua;
}

.container .image{
    border: 3px dotted #9336B4;
    border-radius: 50%;
}