.navbar{
    height: 70px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 0px 10px #414040c9;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_item{
    color: #302f2f;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 25px;
    transition: background-color 2s ease-in, font-weight 2s linear;
}

.nav_item:hover{
    background-color: #eee5e5c7;
    opacity: 70;
    font-weight: bold;
}

.active{
    background-color: #eee5e5c7;
}


