/* page css */

.container{
    height: 80vh;
    width: 70vw;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow: hidden;
    background-color: #fcfbfb;
    border-radius: 30px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.box{
    width: 300px;
    height: 350px;
    background-color: blue;
}
  
/* heading */

.container .heading {
	font-size: 40px;
    color: #000;
    font-weight: bold;
    text-shadow: 5px 5px 10px #333232c2;
	animation-name: example;
  	animation-duration: 4s;
    animation-fill-mode: forwards;
}

.carousel_box{
    max-width: 340px;
    /* height: 400px; */
    /* overflow: hidden; */
    /* border: 2px solid red; */
    margin: 0 auto;
}


@keyframes example {
  from {font-size: 40px;}
  to {font-size: 50px;}
}  

@media screen and (max-width: 600px) {
    .container{
        height: 70vh;
        width: 100vw;
        margin-top: 70px;
        gap: 50px;
        box-shadow: none;
    }
    
.carousel_box{
    max-width: 250px;
}
}
