.footer{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f7c0c0;
    padding: 0 100px;
}

.footer .copyright{
    color: #5f5e5e;
    font-size: 15px;
    padding: 5px;
}

.footer .icons{
    display: flex;
    gap: 20px;
    color: #5f5e5e;
    
}

.footer .icons:hover{
    color: #1b1b1b;
}