.footer{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    box-shadow: 0px -5px 10px #2e2e2e25;
}

.footer .copyright{
    color: #292828;
    font-size: 15px;
    padding: 5px;
}

.footer .icons{
    display: flex;
    gap: 20px;
    color: #292828;
    align-items: center;
    justify-content: center;
    
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .icon:hover{
    background-color: #292828;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px #2e2e2e;
}

@media screen and (max-width: 600px) {
    .footer{
        height: 130px;
        flex-direction: column-reverse;
        align-items: center; 
        justify-content: center;
        gap: 20px;
    }
    
    .footer .copyright{
        width: max-content;
    }   
}